{% extends 'starterpage.html' %}
{% load static %}
<h3>{%block header%} About Us  {%endblock%}</h3>

{% block body %}
    <!-- about_area_start -->
    <div class="about_area ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumbs">
                        <div class="large_img_1">
                            <img src="{% static 'static/hairimg/lupita.png' %}" alt="">
                        </div>
                        <div class="small_img_1">
                            <img src="{% static 'static/hairimg/latino.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <h3>About Us</h3>
                            <p>Welcome to Mystic Mane Hair Haven, where your hair is our art and your beauty is our passion. We specialize in crafting personalized hair care experiences, blending premium products with expert techniques to deliver flawless results. From luxurious treatments to bold transformations, we’re dedicated to enhancing your natural beauty while keeping your hair healthy and vibrant. At Mystic Mane, every visit is a celebration of self-care and confidence. Whether you’re here for a routine pampering or a fresh, new look, our skilled team ensures you leave glowing inside and out. Step in, unwind, and let your mane shine!</p>
                        </div>
                        <p class="opening_hour">
                            Opening Hour
                            <span>7:00 am - 10:00 pm</span>
                        </p>
                        <a href="{% url 'about' %}" class="boxed-btn3">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- team_area_start  -->
    <div class="team_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-55">
                        <h3>Our Stylists</h3>
                        <p>In MysticMane Haven we have the best stylists, well skilled to give you the best of the best.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="{% static 'static/hairimg/saloonistlady.png' %}" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>Maria Njeri</h3>
                            <p>Hair Stylist and locks technician</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="{% static 'static/hairimg/wafula.png' %}" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>Jay Wafula</h3>
                            <p>Barber and Bridal hir stylist</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="{% static 'static/hairimg/auma.png' %}" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>Ann Auma</h3>
                            <p>Nail Technician and Kid's Stylist</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team_area_end  -->

    <!-- testimonial_area  -->
    <div class="testimonial_area  ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-40 text-center">
                        <h3>
                            Testimonials
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>Having being a Mystic haven client for the past six months, I'd say their services are amazing.I recommend them for their great services. Try them, you will love it!</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                            </div>
                                            <h3>Mueni, Locs and nail client.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>For a parent trying to look for a Kid's hairstylist, MysticMane is your go to spot. They offer well tailored services for kids.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                            </div>
                                            <h3>Mama Jay</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>They are the best, nails done at MysticMane give you a good service for months. I recommend!</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">

                                            </div>
                                            <h3>Ariana, Nail client</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->



{% endblock %}