{% extends 'starterpage.html'%}
{% load static %}

{% block body %}
    <!-- bradcam_area_end -->
<!-- pricing area start -->
    <div class="prising_area">
        <div class="container">
            <div  class="row justify-content-center ">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-55">
                        <h3>Our Prices</h3>
                        <p>We offer satisfying services at pocket friendly fee.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="prising_slider_active owl-carousel">
                        <div class="prising_active d-flex justify-content-between">
                            <div class="single_prising">
                                <div class="prise_title">
                                    <h4>Hair Color, Highlights & Styling</h4>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Hair Color</span>
                                            <span>$25</span>
                                        </div>
                                        <p>choose from a variety of colors and get the best.</p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>BLow Drying</span>
                                            <span>$10</span>
                                        </div>
                                        <p>Wash and blow dry. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Dreadlocks styling and setting </span>
                                            <span>$25</span>
                                        </div>
                                        <p>Let us give your locs a touch of magic.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_prising">
                                <div class="prise_title">
                                    <h4>Bridal & Event Hair Styling</h4>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Bridal Hair Styling</span>
                                            <span>$50</span>
                                        </div>
                                        <p>let us give you the best style for your big day. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Hair Style</span>
                                            <span>$8</span>
                                        </div>
                                        <p>Get the best and most recent styles with MysticMane</p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Curl kit</span>
                                            <span>$10</span>
                                        </div>
                                        <p>Get the best curl kit and experience the best styling with us </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="single_prising">
                                <div class="prise_title">
                                    <h4>Nail Art and Designs</h4>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>PLain Cutex</span>
                                            <span>$5</span>
                                        </div>
                                        <p>A variety of colors to choose from. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Gel polish</span>
                                            <span>$10</span>
                                        </div>
                                        <p> A variety of colors to choose from. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Tips and stick ons</span>
                                            <span>$20</span>
                                        </div>
                                        <p>A variety of colors to choose from. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_prising">
                                <div class="prise_title">
                                    <h4>Bridal Braiding</h4>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Micro Twist Outs</span>
                                            <span>$18</span>
                                        </div>
                                        <p>Get the best from the best. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Extension braiding</span>
                                            <span>$25</span>
                                        </div>
                                        <p>Inclusive of braid and labor. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Afro Braiding</span>
                                            <span>$15</span>
                                        </div>
                                        <p>Exclusive of braids. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="prising_active d-flex justify-content-between">
                            <div class="single_prising">
                                <div class="prise_title">
                                    <h4>Hair Shave(Men's Corner)</h4>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Hair Cut</span>
                                            <span>$10</span>
                                        </div>
                                        <p>Not inclusive of massage. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Beard shave</span>
                                            <span>$10</span>
                                        </div>
                                        <p>Beard trimming and shave only. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Clean Shave</span>
                                            <span>$15</span>
                                        </div>
                                        <p>Inclusive of beard and head clean shave.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="single_prising">
                                <div class="prise_title">
                                    <h4>Kid's Hair Styling</h4>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Braiding</span>
                                            <span>$12</span>
                                        </div>
                                        <p>No extensions. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Ghananian braids</span>
                                            <span>$15</span>
                                        </div>
                                        <p>Inclusive of braids and labor. </p>
                                    </div>
                                </div>
                                <div class="single_service">
                                    <div class="service_inner">
                                        <div class="thumb">

                                        </div>
                                    </div>
                                    <div class="hair_style_info">
                                        <div class="prise d-flex justify-content-between">
                                            <span>Micro Twist Outs</span>
                                            <span>$12</span>
                                        </div>
                                        <p>Inclusive of labor. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- pricing area end -->

{% endblock %}