{% extends 'starterpage.html' %}
    {% load static %}
<h3>{%block header%} Services  {%endblock%}</h3>

{% block body %}

   <!-- Services Area -->
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-5">
                    <h3>Our Services</h3>
                    <p>At Mystic Mane Hair Haven, we offer a variety of services. From luxurious treatments to trendsetting cuts, bold coloring, and nourishing therapies, we’re here to pamper, style, and inspire your look. Discover beauty, redefined.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Service Card 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="{% static 'static/hairimg/haircolor.png' %}" class="card-img-top service-img" alt="Hair Color">
                    <div class="card-body text-center">
                        <h5 class="card-title">Hair Color, Highlights & Styling</h5>
                        <p class="card-text">Expert haircuts and styling to elevate your look! From sleek and sophisticated to bold and trendy, we bring out your best style, making every day a great hair day at Mystic Mane Hair Haven!</p>
                    </div>
                </div>
            </div>
            <!-- Service Card 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="{% static 'static/hairimg/wedo.png' %}" class="card-img-top service-img" alt="Bridal Styling">
                    <div class="card-body text-center">
                        <h5 class="card-title">Bridal & Event Hair Styling</h5>
                        <p class="card-text">Bridal & Event Hair Styling that leaves a lasting impression! Let us craft the perfect hairstyle for your special day, making you feel elegant, timeless, and radiant as you celebrate life’s moments.</p>
                    </div>
                </div>
            </div>
            <!-- Service Card 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <img src="{% static 'static/hairimg/kucha.png' %}" class="card-img-top service-img" alt="Nail Art">
                    <div class="card-body text-center">
                        <h5 class="card-title">Nail Art & Designs</h5>
                        <p class="card-text">Elevate your style, one nail at a time. From classic elegance to bold and trendy, our expert artists will transform your nails into stunning works of art.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End -->



    {% endblock %}
