{% extends 'starterpage.html' %}
{% load static %}

<h3>{%block header%}  {%endblock%}</h3>
{% block body %}
<h2 class="text-center mt-5">Appointment Information </h2> <br><br><br>
    <table class="table table-hover container">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date</th>
        <th>Stylist</th>
        <th>Message</th>
        <th>Action</th>

    </tr>
    {% for x in appointments %}
    	<tr>
            <td>{{ x.name }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.phone }}</td>
            <td>{{ x.date }}</td>
            <td>{{ x.stylist }}</td>
            <td>{{ x.message }}</td>
        <td>
            <a href="/edit/{{ x.id }}" class="btn btn-success">EDIT</a>
            <a href="/delete/{{ x.id }}" class="btn btn-danger">DELETE</a>

        </td>
        </tr>
    {% endfor %}
    
    </table>

{% endblock %}